.jumbotron3{
    border: 1px solid rgb(176, 174, 174);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 2%;
    width: 50%;
    margin-top: 5px;
}

.jumbotron4{
    width: 50%;
    margin-top: 5px;
}

@media only screen and (max-width: 1000px) {
    .jumbotron3{
        width: 80%;
    }
    .jumbotron4{
        width: 80%;
    }
    }

@media only screen and (max-width: 700px) {
    .jumbotron3{
        width: 100%;
    }
    .jumbotron4{
        width: 100%;
    }
    }