/* .message-history{
    background-color: bisque;
} */
.Messageatleftside{
  text-align: start;
  /* overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto; */
  width: 50%;
  overflow-wrap: break-word;
  margin-right: 30%;
  background-color: white;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 font-size: 18px;
 border-radius: 8px;
}
.Messageatrightside{
  text-align: start;
  /* overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto; */
  overflow-wrap: break-word;
  margin-left: 50%;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-size: 18px;
  border-radius: 8px;
  /* float: right; */
}
.messagetabclientandoperator{
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}