.Maindash{
    justify-content: center; 
    overflow-y: scroll;
    overflow-x: hidden;
    /* border: "1px solid black"; */
} 
h1{
    display: inline-block;
    margin: 5px;
    color: rgb(234, 21, 32);
    text-shadow: 2px 3px rgb(159, 148, 227);
}

.content{
    position: relative;
}
p{
    position: absolute;
right: 10px;
top: 5px;
  
}

@media screen and (max-width: 1200px) {
    .Maindash{
        justify-content: center; 
       
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
    } 
    .Menubarname{
        display: none;
    }
  }

  

  @media screen and (max-width: 700px) {
    /* .content{
        position: relative;
    }
    p{
        position: absolute;
          right: 10px;
    top: 50px;
      
    } */

    Button{
        width: 10px;
    }
  }