.jumbotron1{
    border: 1px solid rgb(176, 174, 174);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(59, 59, 74, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 2%;
    /* width: 30%; */
}
